:root {
    --cor-verde: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%)
    --Grey 700: hsl(0, 0%, 20%)
    --Grey 800: hsl(0, 0%, 12%)
    --Grey 900: hsl(0, 0%, 8%)
    --Grey 950: hsl(0, 0%, 4%)
}
/*- Green: hsl(75, 94%, 57%)



- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)
- Grey 950: hsl(0, 0%, 4%) */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: aliceblue;
}

a {
    color: var(--cor-verde);
}

section {
    background-color: var(--cor-verde-800);
    width: 330px;
    border-radius: 12px;
    border: 1px solid red;
    padding: 18px;
    text-align: center;
}

section img {
    width: 84px;
    height: 84px;
    border-radius: 40px 25px 15px;
    /* border-radius: cima-esquerda, cima -direita, baixo-direita, baixo-esquerda */
}
section h1 {
    font-size: 28px;
    margin: 16px 0px 4px 0px;
    font-weight: 500;
}
section h2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    color: var(--cor-verde);
}

section p {
    font-size: 14px;
    color: var(--White);
    margin-bottom: 24px;
}
li {
    background-color: blue;
    margin: 16px 0;
}