:root {
    --cor-verde: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --White-medium: hsl(0, 0%, 96%);
    --Grey: hsl(0, 0%, 20%);
    --Grey: hsl(0, 0%, 12%);
    --Grey: hsl(0, 0%, 8%);
    --Grey: hsl(0, 0%, 4%);
}
/*- Green: hsl(75, 94%, 57%)



- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)
- Grey 950: hsl(0, 0%, 4%) */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--cor-verde);
}

section {
    background-color: var(--cor-verde-800);
    width: 330px;
    border-radius: 12px;
    padding: 18px;
    text-align: center;
    margin: 0 auto;
}

section img {
    width: 84px;
    height: 84px;
    border-radius: 40px 25px 15px;
    /* border-radius: cima-esquerda, cima -direita, baixo-direita, baixo-esquerda */
}
section h1 {
    font-size: 28px;
    margin: 16px 0px 4px 0px;
    font-weight: 500;
}
section h2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    color: var(--cor-verde);
}

section p {
    font-size: 14px;
    color: var(--White);
    margin-bottom: 24px;
}
li {
    background-color: rgb(43, 43, 131);
    margin: 16px 0;
}
li a{
    background-color: #007070;
    padding: 12px 0;
    width: 100%;
    display: block;
    border-radius: 8px;
    font-weight: 600;
}
li a:hover {
    color: var(--cor-verde);
    transition: 0.3s;
}